* {
  font-family: "Inter", "Iosevka", "Noto Sans";
}

window {
  font-size: 11px;
}

window.notification-popups box.notifications {
  padding: .5rem;
}

.icon {
  min-width: 64px;
  min-height: 64px;
  margin-right: 1rem;
}

.icon image {
  font-size: 58px;
  /* to center the icon */
  margin: 5px;
  color: @theme_fg_color;
}

.icon box {
  min-width: 64px;
  min-height: 64px;
  border-radius: 7px;
}

.notification {
  min-width: 500px;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: .5rem;
  /* border: 2px solid @wm_borders_edge; */
  background-color: @accent_fg_color;
  color: @accent_bg_color;
}

.notification.critical {
  border: 1px solid lightcoral;
}

.title {
  color: @theme_fg_color;
  font-size: 1.1rem;
}

.body {
  color: @theme_unfocused_fg_color;
}

.actions .action-button {
  margin: 0 .4rem;
  margin-top: .8rem;
}

.actions .action-button:first-child {
  margin-left: 0;
}

.actions .action-button:last-child {
  margin-right: 0;
}

/* Media */

.player {
  padding: 2rem;
  min-width: 500px;
}

.player .img {
  min-width: 250px;
  min-height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  margin-right: 2rem;
}

.player .title {
  font-size: 1.1rem;
}

.player .artist {
  font-size: 1.1rem;
  color: @insensitive_fg_color;
}

.player scale.position {
  padding: 0;
  margin-bottom: .5rem;
}

.player scale.position trough {
  min-height: 8px;
}

.player scale.position highlight {
  background-color: @theme_fg_color;
}

.player scale.position slider {
  all: unset;
}

.player button {
  min-height: 1rem;
  min-width: 1rem;
  padding: .3rem;
}

.player button.play-pause {
  margin: 0 .3rem;
}

/* Bar */

.bar {
  min-width: 3rem;
  /* margin-bottom: 1rem; */
}