$darkbg: #0b0d16;
$bg: #0d0f18;
$contrastbg: #0f111a;
$bgSecondary: #11131c;
$bgSecondaryAlt: #a5b6cf;
$fg: #CCCAC2;
$fgDim: #CCCAC2;
$watermelon: #F27983;

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$black: #151720;
$dimblack: #1a1c25;
$lightblack: #262831;
$red: #F27983;
$blue: #80BFFF;
$cyan: #95E6CB;
$blue-desaturated: #95E6CB;
$magenta: #DFBFFF;
$purple: #DFBFFF;
$green: #87D96C;
$aquamarine: #87D96C;
$yellow: #FFD173;
$accent: $blue;
$javacafeMagenta: #DFBFFF;
$javacafeBlue: #80BFFF;
