* {
  border-radius: 10px;
}

.musicbox {
  .pic-container {
    .picbox {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 500px;
      min-width: 500px;
      padding: 10px;
    }
    // i've to make it hidden, so i'll translate it to the INFINITE! LMFAO
    .hidden {
      margin-top: -100px;
    }
  }
}

.title {
  font-size: 1.75em;
  font-weight: 800;
  font-family: Iosevka;
}

.artist {
  font-size: 1em;
}

.album {
  font-style: italic;
}
