.musicbox {
  .pic-container {
    .picbox {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 500px;
      min-width: 500px;
      border-radius: 7px;
      padding: 10px;
    }
    // i've to make it hidden, so i'll translate it to the INFINITE! LMFAO
    .hidden {
      margin-top: -100px;
    }
  }
  .musiccontrolsbox {
    background-color: $bgSecondary;
    border-radius: 7px;
    padding: 7px 15px;
    font-family: Iosevka;
    .previousbutton, .nextbutton {
      font-size: 23px;
    }
    .pausebutton {
      padding: 0px 10px 0px 4px;
    }
  }
}

.title {
    font-size: 1.5em;
    font-weight: 800;
}

.artist {
    font-size: 1.1em;
}

.album {
    font-style: italic;
}
