$primary: #e6b450;
$onPrimary: #ffffff;
$primaryContainer: #d6e3ff;
$onPrimaryContainer: #001b3f;
$secondary: #bfbdb6;
$onSecondary: #ffffff;
$secondaryContainer: #dae2f8;
$onSecondaryContainer: #131c2b;
$tertiary: #705575;
$onTertiary: #ffffff;
$tertiaryContainer: #fad8fd;
$onTertiaryContainer: #28132e;
$error: #ba1b1b;
$onError: #ffffff;
$errorContainer: #ffdad4;
$onErrorContainer: #410001;
$background: #fdfbff;
$onBackground: #1a1b1f;
$surface: #0b0e14;
$onSurface: #bfbdb6;
$surfaceVariant: #11151c;
$onSurfaceVariant: #44474f;
$outline: #565b66;
$shadow: #1f2430;
$inverseSurface: #2f3034;
$inverseOnSurface: #f2f0f4;
$inversePrimary: #a8c7ff;